/* .Container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
          rgba(255, 255, 255, 0.5),
         rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.Title{
    font-size: 24px;
    font-weight: 300;
}
.Form{
    display: flex;
    flex-direction: column;
}
.Input{
    flex: 1;
    border-radius: 5px;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}
.Button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #297BCA;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:bold;   
}
.Button:disabled{

    color:teal;
    cursor:not-allowed;
    
}

.Container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0rem 92px;
}

.Container>.left-wrapper{
    flex:1;
}
.Container>.left-wrapper img{
    width: 113px;
    height: 173.713px;
}
.Container>.left-wrapper h1{
    color:white;
    font-size:48px;
    margin:0rem;
    font-size: 2.5rem;
    font-style: normal;
}

.Container .Wrapper{
    flex:1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 500px;
    padding: 2rem 4rem;
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    padding-bottom: 100px;
}


.Container .Wrapper>*{
    width: 100%;
}

.sign-button-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:0.5rem;
    color:white;
    font-size:1.5rem;
    font-weight:bold;
}
.sign-button{
    cursor: pointer;
}